logs
backup
backup*
deploy/package.xml
retrieve/**/*
undeploy/**/*
!**/package.example.xml
!**/destructiveChanges.example.xml
build.properties
.ant-targets-build.xml
node_modules/
package-lock.json
package.json
